.section1 {
  display: flex;
  margin: 0rem 10rem;
}
.leftDiv {
  width: 20%;
  margin-top: 7rem;
}
.rightDiv {
  transition: scale 0.5s;
  position: fixed;
  height: 45rem;
  width: 50rem;
  margin-left: 20.8rem;
  background-color: #1582cc;
  border-radius: 50%;
  z-index: -2;
}

.img1 {
  position: relative;
  z-index: 10;
  top: 7rem;
}

.changeColor {
  background-color: #936aff;
  animation: leaves 0.3s ease-in-out 2 alternate;
}
.changeColor2 {
  background-color: #fe764b;
  animation: leaves 0.3s ease-in-out 2 alternate;
}

@keyframes leaves {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

/* Section 2 */
.rightDiv2 {
  position: relative;
  height: 45rem;
  width: 50rem;
  margin-left: 6rem;
  border-radius: 50%;
  z-index: -2;
  background-color: #936aff;
}

/* Section - 3 */

.rightDiv3 {
  position: relative;
  height: 45rem;
  width: 50rem;
  margin-left: 6rem;
  border-radius: 50%;
  z-index: -2;
  background-color: #fe764b;
}
/* Section - 4 */

.rightDiv4 {
  position: relative;
  height: 45rem;
  width: 50rem;
  margin-left: 6rem;
  border-radius: 50%;
  z-index: -2;
  background-color: #2b48c1;
}

/* Section - 5 */

.rightDiv5 {
  position: relative;
  height: 45rem;
  width: 50rem;
  margin-left: 6rem;
  border-radius: 50%;
  z-index: -2;
  background-color: #ff503f;
}

.timepass {
  height: 90vh;
}
